body {
    background-color: black;
    color: white;
}

.cell {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: black;
    border-left: solid 1px white;
    border-top: solid 1px white;
    transition: background-color 1s;

    -webkit-touch-callout: none; /* disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none; /* disable double-tap-to-zoom on IE */
}

.cell:last-child {
    border-right: solid 1px white;
}

.row:last-child .cell {
    border-bottom: solid 1px white;
}

.cell.active {
    transition: none;
    background-color: white;
}

.row {
    line-height: 0;
    -ms-touch-action: none; /* disable double-tap-to-zoom on IE */
}


/* CONTROLS */

#controls {
    margin-top: 10px;
}

.face-select {
    background-color: white;
    color: black;
    border: 0;
    padding: 8px;
    margin: 2px;
}

.face-select.selected {
    border: solid 4px red;
}

.color-select {
    border: solid 4px black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.color-select.selected {
    border-color: red;
}