body {
    background-color: black;
    color: white;
}

#container {
    background-color: black; /* this is required because when this element is made fullscreen, WebKit by default gives it a white background */
}

#gridContainer {
    /* 8 x max-width of .cell. Without this contraint here, the
    width of the cells would be constrained, but the height would not. */
    max-width: 640px;
}

.cell {
    display: inline-block;
    width: 12%;
    max-width: 80px;
    height: 0;
    padding-bottom: 12%; /* hack to constrain the cells to being square. Padding % is based on width, not height */
    background-color: black;
    border-left: solid 1px white;
    border-top: solid 1px white;
    transition: background-color 1s;

    -webkit-touch-callout: none; /* disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none; /* disable double-tap-to-zoom on IE */
}

.cell:last-child {
    border-right: solid 1px white;
}

.row:last-child .cell {
    border-bottom: solid 1px white;
}

.cell.active {
    transition: none;
    background-color: white;
}

.row {
    line-height: 0;
    -ms-touch-action: none; /* disable double-tap-to-zoom on IE */
}


/* CONTROLS */

#controls {
    margin-top: 10px;
}

.text-button-select {
    background-color: white;
    color: black;
    border: 0;
    padding: 8px;
    margin: 2px;
}

.text-button-select.selected {
    border: solid 4px red;
}

.color-select {
    border: solid 4px black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.color-select.selected {
    border-color: red;
}

#nyan-mode-select {
    display: none;
}

#enable-fullscreen {
    background-color: black;
    color: black;
}
